@{
    ViewData["Title"] = "All Courses";
}

@model List<Cumulative1.Models.Course>

<h1>Courses</h1>

@if (Model == null || !Model.Any())
{
        <p>No entries found.</p>
}
else
{
        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Course Code</th>
                <th>Teacher Id</th>
                <th>Start Date</th>
                <th>Finish Date</th>
                <th>Course Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                    <tr>
                        <td>@course.Id</td>
                        <td>@course.CourseCode</td>
                        <td>@course.TeacherId</td>
                        <td>@course.StartDate</td>
                        <td>@course.FinishDate</td>
                        <td>@course.CourseName</td>
                    </tr>
            }
        </tbody>
    </table>
}
